﻿@model KPIAdmin.Models.ApplicationMenu

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>ApplicationMenu</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AMAPID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AMAPID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AMSequence)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AMSequence)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AMKEID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AMKEID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AMStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AMStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AMParentID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AMParentID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AMName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AMName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AMDefaultPage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AMDefaultPage)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AMHelpPage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AMHelpPage)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AMUserName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AMUserName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AMDateAdd)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AMDateAdd)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AMDateChange)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AMDateChange)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AMDateDelete)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AMDateDelete)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AMAccessLevel)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AMAccessLevel)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AMTitle)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AMTitle)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AMKeyTypeID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AMKeyTypeID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AMUrl)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AMUrl)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AMSequenceMajor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AMSequenceMajor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.xxxAMImageUrl)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.xxxAMImageUrl)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.xxxAMKEID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.xxxAMKEID)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.AMID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
