﻿@model IEnumerable<KPIAdmin.Models.ApplicationMenu>




@Html.Partial("HeaderView")

@{
    if (ViewBag.Error == null)
    {

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AMDefaultPage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AMAPID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AMSequence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AMKEID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AMStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AMParentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AMName)
            </th>


        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AMDefaultPage)
            </td>
            <td style="white-space:nowrap;">
                @Html.DisplayFor(modelItem => item.AMAPID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AMSequence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AMKEID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AMStatus)
            </td>
            <td style="white-space:nowrap;">
                @Html.DisplayFor(modelItem => item.AMParentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AMName)
            </td>


        </tr>
        }

    </table>


    }
    else
    {
        @Html.Partial("NoAccess")
    }
}

