﻿@model PagedList.IPagedList<KPIAdmin.Models.vwApplicationSecurity>
@using PagedList.Mvc;


<script type="text/javascript">
    $(document).ready(function () {

        $(function () {
            $('#Applications').change(function () {
                $('#obformfilter').submit();

            });
        });

        $(function () {
            $('#Users').change(function () {
                $('#obformfilter').submit();

            });
        });

        $('.joblink').click(function () {

            $(this).parents('form:first').submit();

        });

        $('#createlink').click(function () {
            $('#createform').submit();
        });

        $('#MyPagedList').change(function () {
            var pageName = $('#MyPagedList').find(":selected").text();
            $('#whichpagenum').val(pageName);
            $('#obformfilter').submit();
        });


            $('#pagelinkFirst').click(function () {
                $('#whichpage').val("First");
                document.forms[0].submit();
            });
            $('#pagelinkNext').click(function () {
                $('#whichpage').val("Next");
                $('#whichpagenum').val(@ViewBag.pagenum);
                document.forms[0].submit();
            });
            $('#pagelinkLast').click(function () {
                $('#whichpage').val("Last");
                document.forms[0].submit();
            });
            $('#pagelinkPrevious').click(function () {
                $('#whichpage').val("Previous");
                $('#whichpagenum').val(@ViewBag.pagenum);
                document.forms[0].submit();
            });

    });
</script>


@{
    MvcForm form;
    if (Request.QueryString["AppID"] != null)
    {
        form = Html.BeginForm("AppSecurity", "ApplicationSecurities", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { name = "obformfilter", id = "obformfilter" });
    }
    else
    {
        form = Html.BeginForm("AppSecurity", "ApplicationSecurities", FormMethod.Post, new { name = "obformfilter", id = "obformfilter" });
    }
    using (form)
    {
        @Html.AntiForgeryToken()
        <div style="width:100%;text-align:center;margin-bottom:0px;background-color:#f1f1f1;display:block;float:left;clear:both;">
            <div style="margin:0 auto;margin-left:auto;margin-right:auto;border:0px solid blue;width:auto;padding-bottom:5px;">
                <div style="margin-left:4px;margin-right:4px;display:inline-block;white-space: nowrap;">
                    <div class="searchdiv" style="">Application:</div>
                    <div class="searchdiv"> @Html.DropDownList("Applications", "* ALL")</div>
                </div>
                <div style="margin-left:4px;margin-right:4px;display:inline-block;white-space: nowrap;"><div class="searchdiv" style="">User: </div><div class="searchdiv">@Html.DropDownList("Users", "* ALL") </div></div>
                <input type="hidden" id="sortOrder" name="sortOrder" value="@ViewBag.CurrentSort" />
                <input type="hidden" id="whichpagenum" name="whichpagenum" value="" />
                <input type="hidden" id="whichpage" name="whichpage" value="" />
                <input type="hidden" name="myaction" value="Default" />



            </div>
        </div>
    }
}





<p>

    @{
        using (@Html.BeginForm("AppSecurity", "ApplicationSecurities", FormMethod.Post, new { name = "createform", id = "createform" }))
        {
            @Html.AntiForgeryToken()
            <input name="myaction" type="hidden" value="CreateApp" />
            <a class="headersubmit" id="createlink">Create New</a>
        }
    }

</p>



<table class="table">
    <tr>
        <th>
            Application
        </th>
        <th>
            User
        </th>
        <th>
            SE Level
        </th>
        <th>
            SE Admin
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    MvcForm form2;

                    if (Request.QueryString["AppID"] != null)
                    {
                        form2 = Html.BeginForm("AppSecurity", "ApplicationSecurities", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { id = "detailform" + @item.SEAPID + @item.SEAUID, name = "detailform" + @item.SEAPID + @item.SEAUID });
                    }
                    else
                    {
                        form2 = Html.BeginForm("AppSecurity", "ApplicationSecurities", FormMethod.Post, new { id = "detailform" + @item.SEAPID + @item.SEAUID, name = "detailform" + @item.SEAPID });
                    }

                    using (form2)
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="SEAPID" value="@item.SEAPID" />
                        <input type="hidden" name="SEAUID" value="@item.SEAUID" />
                        <input type="hidden" name="myaction" value="Details" />
                        <a class="joblink" id="link-@item.SEAPID">  @Html.DisplayFor(modelItem => item.APName)</a>
                    }
                }


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AUFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LVDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SEAdmin)
            </td>
        </tr>
    }

</table>
<br />
@if (Convert.ToInt32(ViewBag.mypagecount) > 1)
{


    <div class="pagerfooter">


        @if (Convert.ToInt32(ViewBag.pagenum) != 1)
        {


            <a class="headersubmit pagerlink" id="pagelinkFirst">&lt;&lt;First</a>

            <a class="headersubmit pagerlink" id="pagelinkPrevious">&lt;Prev</a>
        }


        @Html.DropDownList("MyPagedList", new SelectList(ViewBag.list, "Text", "Value", ViewBag.pagenum.ToString()), new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, currentFilterU = ViewBag.CurrentFilterU })

        of @Model.PageCount


        @if (Convert.ToInt32(ViewBag.pagenum) < @Model.PageCount)
        {
            <a class="headersubmit pagerlink" id="pagelinkNext">Next&gt;</a>

            <a class="headersubmit pagerlink" id="pagelinkLast">Last&gt;&gt;</a>
        }

    </div>
}