﻿@model KPIAdmin.Models.vwApplicationSecurity


<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.APName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.APName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.AUFullName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.AUFullName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.SELevel)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LVDescription)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SEAdmin)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SEAdmin)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SEFlag1)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SEFlag1)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SEDefault)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SEDefault)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SESecurityCode)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SESecurityCode)
    </dd>


    <dt>
        @Html.DisplayNameFor(model => model.SEDateAdd)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SEDateAdd)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SEDateChange)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SEDateChange)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SEDateDelete)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SEDateDelete)
    </dd>

</dl>
<div>

    @{

        MvcForm form2;

        if (Request.QueryString["AppID"] != null)
        {
            form2 = Html.BeginForm("Apps", "ApplicationSecurities", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { id = "detailform", name = "editform" });
        }
        else
        {
            form2 = Html.BeginForm("Apps", "ApplicationSecurities", FormMethod.Post, new { id = "detailform", name = "detailform" });
        }

        using (form2)
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="SEAPID" value="@Model.SEAPID" />
            <input type="hidden" name="SEAUID" value="@Model.SEAUID" />
            <input type="hidden" name="myaction" value="Edit" />
            <input type="submit" value="Edit" />
        }

    }

</div>
