﻿@model KPIAdmin.Models.vwApplicationSecurity

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
    <div class="form-horizontal">
        <h4>ApplicationSecurity</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SEAPID)

        @Html.HiddenFor(model => model.SEAUID)

        <div class="form-group">
            @Html.LabelFor(model => model.SEAPID, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.HiddenFor(model => model.SEAPID)
            <div class="col-md-10">
                @Html.DisplayFor(model => model.APName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AUFullName, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.HiddenFor(model => model.SEAUID)
            <div class="col-md-10">
                @Html.DisplayFor(model => model.AUFullName)
                
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.SELevel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SELevel, Model.levelitems)
                @Html.HiddenFor(model => model.SELevel)
                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SEAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.SEAdmin)
                    
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SEFlag1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.SEFlag1)
                    
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SEDefault, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.SEDefault)
                    
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SESecurityCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SESecurityCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SESecurityCode, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.SEDateDelete, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SEDateDelete, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SEDateDelete, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
