﻿<div class="navbar navbar-inverse navbar-static-top">
    <div class="container" style="padding-left:0px;">
        <div style="display:block;float:left;border:0px solid yellow;">
            @{
                if (TempData.Peek("CompanyLogo") != null)
                {
                    <div class="headerthing mainlogodiv"><img class="mainlogo" src="@TempData.Peek("CompanyLogo").ToString()" /></div>
                }
                else if (@Session["CompanyLogo"] != null)
                {
                    <div class="headerthing"><img src="@Session["CompanyLogo"].ToString()" /></div>
                }
                else
                {
                    <div class="headerthing"><img src="" /></div>
                }
                if (TempData.Peek("ApplicationName") != null)
                {
                    <div class="headerthing" style="padding-left:6px;">@TempData.Peek("ApplicationName").ToString()</div>
                }
                else if (Session["PageTitle"] != null)
                {
                    <div class="headerthing" style="padding-left:6px;">@Session["PageTitle"].ToString()</div>
                }
                else
                {
                    <div class="headerthing" style="padding-left:6px;"></div>
                }
            }

        </div>


        <div class="navbar-header">



            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="margin-right:8px;">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="navbar-collapse collapse" style="margin-left:8px">



            <ul class="nav navbar-nav">
                @{
                <li class="active" style="text-align:left;"><a>Application</a></li>
                }
            </ul>





            <div class="masterDivHeader">
                <div class="masterDivIcons">
                    <div class="masterDivIcon">
                        <a href="/Application/MyApps/Default.aspx">
                            <img border="0" alt="Home" src='~/Images/Favorites.ico' /><div>Home</div>
                        </a>
                    </div>
                    @{ if (TempData.Peek("HelpFileURL") != null)
                        {
                            <div class="masterDivIcon">
                                <a target="_blank" href="@TempData.Peek("HelpFileURL").ToString().Replace("~","")">
                                    <img alt="Help" src='~/Images/Help.ico' /><div>Help</div>
                                </a>
                            </div>
                        }
                    }

                    @{
                        if (TempData.Peek("UserAdminURL") != null)
                        {
                            <div class="masterDivIcon" @((TempData.Peek("UserAdminURL").ToString() == "") ? "style=display:none;" : "style=display:inline-block;")>

                                <a href="@TempData.Peek("UserAdminURL").ToString().Replace("~", "")">
                                    <img alt="User Admin" src='~/Images/User.ico' /><div>Users</div>
                                </a>
                            </div>
                        }
                    }
                    <div class="masterDivIcon">
                        <a href="/System/Logout.aspx">
                            <img alt="Logout" src='~/Images/LogOut.ico' /><div>Logout</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>



    </div>

    @Html.MvcSiteMap().Menu("BootstrapMenuHelperModel")

</div>








