﻿@model IEnumerable<KPIAdmin.Models.UserSecurity>


@Html.Partial("HeaderView")

@{
    if (ViewBag.Error == null)
    {
        <div class="masterDivDetail" style="">
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.USAPID)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.USAUID)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.USObject)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.USKeyTypeID)
                    </th>


                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.USAPID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.USAUID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.USObject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.USKeyTypeID)
                    </td>


                </tr>
                }

            </table>

        </div>
    }
    else
    {
        @Html.Partial("NoAccess")
    }
}
