﻿@model IEnumerable<KPIAdmin.Models.ApplicationLevel>

@Html.Partial("HeaderView")

@{



    if (ViewBag.Error == null)
    {
        <div class="masterDivDetail" style="">

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LVDescription)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.LVAPID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LVLevel)
                    </th>

              
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LVDescription)
                        </td>
 
                        <td>
                            @Html.DisplayFor(modelItem => item.LVAPID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LVLevel)
                        </td>

                    </tr>
                }

            </table>
        </div>
    }
    else
    {

        @Html.Partial("NoAccess")
    }

}
