﻿
@Html.Partial("HeaderView")
<div class="masterDivDetail" style="border:0px solid blue;text-align:center;">
    <h4 style="margin-left:auto;margin-right:auto;margin-top:120px;">Select a function from the menu above</h4>
</div>
