﻿@model IEnumerable<KPIAdmin.Models.Application>

<script type="text/javascript">
    $(document).ready(function () {

        $('.joblink').click(function () {

            $(this).parents('form:first').submit();

        });

        $('#createlink').click(function () {
            $('#createform').submit();
        });
    });
</script>

<p>

    @{
        using (@Html.BeginForm("Apps", "Admin", FormMethod.Post, new { name = "createform", id = "createform" }))
        {
            @Html.AntiForgeryToken()
            <input name="myaction" type="hidden" value="CreateApp" />
            <a class="headersubmit" id="createlink">Create New</a>
        }
    }
</p>

<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.APName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APKEID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APDefaultPage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APLGID)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>

                @{

                    MvcForm form2;

                    if (Request.QueryString["AppID"] != null)
                    {
                        form2 = Html.BeginForm("Apps", "Applications", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { id = "detailform" + @item.APID, name = "detailform" + @item.APID });
                    }
                    else
                    {
                        form2 = Html.BeginForm("Apps", "Applications", FormMethod.Post, new { id = "detailform" + @item.APID, name = "detailform" + @item.APID });
                    }

                    using (form2)
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="APID" value="@item.APID" />
                        <input type="hidden" name="myaction" value="Details" />
                        <a class="joblink" id="link-@item.APID">  @Html.DisplayFor(modelItem => item.APName)</a>
                    }

                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APKEID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APDefaultPage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APLGID)
            </td>
        </tr>
    }

</table>