﻿@model KPIAdmin.Models.Application

<script type="text/javascript">

    function OnSuccess(data) {
    
        if (data.param1 == "404") {
            alert(data.param2);
        } else {
    
            $("#APID").val(data.param2);
            $("#oldform").submit();
        }

    }
    function OnFailure(data) {
        alert(data.param2);
    }

</script>


@{

    MvcForm form3;
    if (Request.QueryString["AppID"] != null)
    {
        form3 = Html.BeginForm("Apps", "OwnerBilling", new { AppID = Request.QueryString["AppID"].ToString() }, FormMethod.Post, new { id = "oldform", name = "oldform" });
    }
    else
    {
        form3 = Html.BeginForm("Apps", "OwnerBilling", FormMethod.Post, new { id = "oldform", name = "oldform" });
    }
    using (form3)
    {
        @Html.AntiForgeryToken()
        <input type="hidden" id="APID" name="APID" class="btn btn-default" />
        <input type="hidden" id="referrer" name="referrer" value="CreateApp" />
        <input type="hidden" id="myaction" name="myaction" value="Details" />
    }
}

@{
    using (@Ajax.BeginForm("CreateApp", null, new AjaxOptions() { HttpMethod = "POST", OnFailure = "OnFailure", OnSuccess = "OnSuccess" }, new { id = "doneform", name = "doneform" }))
    {
        <input type="hidden" id="myaction" name="myaction" value="Details" />

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div>
                @{ if (@ViewBag.Message != null)
                    {
                        <h2 style="color;red;">@ViewBag.Message</h2>
                    }
                }


                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.APSequence, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10  error">

                        @Html.ValidationMessageFor(model => model.APSequence, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.APSequence, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.APKEID, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-10  error">

                        @Html.ValidationMessageFor(model => model.APKEID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.APKEID, Model.KeyTypeItems)



                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.APStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10  error">

                        @Html.ValidationMessageFor(model => model.APStatus, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.APStatus, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.APName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10  error">

                        @Html.ValidationMessageFor(model => model.APName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.APName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.APMenuName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10  error">
                        @Html.ValidationMessageFor(model => model.APMenuName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.APMenuName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.APDefaultPage, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10  error">

                        @Html.ValidationMessageFor(model => model.APDefaultPage, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.APDefaultPage, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.APHelpPage, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10  error">

                        @Html.ValidationMessageFor(model => model.APHelpPage, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.APHelpPage, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.APUserAdminPage, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10  error">

                        @Html.ValidationMessageFor(model => model.APUserAdminPage, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.APUserAdminPage, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.APLGID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10  error">

                        @Html.ValidationMessageFor(model => model.APLGID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.APLGID, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.APVersion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10  error">

                        @Html.ValidationMessageFor(model => model.APVersion, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.APVersion, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.APHasUserSecurity, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10  error">

                        @Html.ValidationMessageFor(model => model.APHasUserSecurity, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.APHasUserSecurity)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.APKeyTypeID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10  error">

                        @Html.ValidationMessageFor(model => model.APKeyTypeID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.APKeyTypeID, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.APHasSecurityCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10  error">

                        @Html.ValidationMessageFor(model => model.APHasUserSecurity, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.APHasSecurityCode)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.APAccessLevel, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10  error">

                        @Html.ValidationMessageFor(model => model.APAccessLevel, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.APAccessLevel, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.APDefaultFolder, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10  error">

                        @Html.ValidationMessageFor(model => model.APDefaultFolder, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.APDefaultFolder, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.APNameAlt, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10  error">

                        @Html.ValidationMessageFor(model => model.APNameAlt, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.APNameAlt, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.APAltUserPage, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10  error">

                        @Html.ValidationMessageFor(model => model.APAltUserPage, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.APAltUserPage, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="float:left;">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    }

}