﻿@model KPIAdmin.Models.Application

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Application</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.APSequence)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APSequence)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APKEID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APKEID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APStatus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APStatus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APMenuName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APMenuName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APDefaultPage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APDefaultPage)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APHelpPage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APHelpPage)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APUserAdminPage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APUserAdminPage)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APLGID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APLGID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APLogo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APLogo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APVersion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APVersion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APHasUserSecurity)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APHasUserSecurity)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APUserName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APUserName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APDateAdd)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APDateAdd)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APDateChange)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APDateChange)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APDateDelete)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APDateDelete)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APKeyTypeID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APKeyTypeID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APHasSecurityCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APHasSecurityCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APAccessLevel)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APAccessLevel)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APDefaultFolder)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APDefaultFolder)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APLogoPath)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APLogoPath)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APNameAlt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APNameAlt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.APAltUserPage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.APAltUserPage)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
