﻿


div.kpilineheader div {
    height:24px;
    line-height:10px;
}



div.kpilinelarge, div.kpilinelarge div {
    font-size: 12px;
}

    div.kpilinelarge2, div.kpilinelarge2 div {
        font-size: 10px;
    }

input:not([type="submit"]) {
    width: 100%;
    height: 20px;
    text-align: right;
}

input#OBRequisitionDate {
    width: 120px;
    text-align: right;
}

#FV20Block002 input:not([type="submit"]) {
    float: left;
    width: 50px;
    

    
}

div.headerthing {

    font-size: 17px;
    
}

table.kpipager1 td:nth-of-type(2), table.kpipager1 th:nth-of-type(2) {
    display: none;
}

table.kpipager1 td:nth-of-type(3), table.kpipager1 th:nth-of-type(3) {
    display: none;
}

table.kpipager1 td:nth-of-type(4), table.kpipager1 th:nth-of-type(4) {
    display: none;
}

table.kpipager1 td:nth-of-type(5), table.kpipager1 th:nth-of-type(5) {
    display: none;
}



table.kpipager2 td:nth-of-type(3), table.kpipager2 th:nth-of-type(3) {
    display: none;
}

table.kpipager2 td:nth-of-type(4), table.kpipager2 th:nth-of-type(4) {
    display: none;
}

table.kpipager2 td:nth-of-type(5), table.kpipager2 th:nth-of-type(5) {
    display: none;
}

table.kpipager2 td:nth-of-type(6), table.kpipager2 th:nth-of-type(6) {
    display: none;
}

table.kpipager2 td:nth-of-type(7), table.kpipager2 th:nth-of-type(7) {
    display: none;
}

table.kpipager2 td:nth-of-type(8), table.kpipager2 th:nth-of-type(8) {
    display: none;
}

table.kpipager2 td:nth-of-type(9), table.kpipager2 th:nth-of-type(9) {
    display: none;
}

table.kpipager2 td:nth-of-type(10), table.kpipager2 th:nth-of-type(10) {
    display: none;
}

div.pagerfooter {
    
    width: 100%;
    text-align: center;
}

a.pagerlink {
    margin-left: 3px;
    margin-right: 3px;
}

#reqdate {
    display: inline-block;
}

#OBRequisitionDate {
    display: inline-block;
}

#newreq {
    display: block;
    margin-top: 8px;
}

div.FV20Block002left {
    width: 100%;
}

div.FV20Block002right {
    width: 100%;
}


div.FV20Block002leftA {
    padding-top: 5px;
    display: inline-block;
    font-weight: bold;
    width: 70%;
    text-align: left;
}

div.FV20Block002leftB {
    padding-top: 5px;
    display: inline-block;
    width: 30%;
    text-align: left;
    font-weight: normal;
}

div.detailcolumnwide {
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    width: 22%;
}
div.detailcolumn {
    width:22%
}
    div .jtd {
    display:none;
}
div.detailprevmonth {
    width:22%;
}
div.OBcol1 {
    font-size:2.5vw ;
    width: 28%;

}
@media (min-width: 600px) {
    div.OBcol1 {
        font-size: 14px !important;
       
    }
    div.kpiline, div.kpiline div {
        font-size: 14px !important;
       
    }

}

div.kpiline, div.kpiline div {
    font-size: 2.5vw;
}


a#togglejtdcurrent {
    text-decoration:underline;
}

a#togglejtdcurrent:hover {
    cursor:pointer;
}

#searchbutton {
    width:25px;
    height:25px;
}
div#togglediv {
    display: block;
}

input.editdate {
    min-width:88px;
    
}