﻿

FV20Block001 {
    font-size: 14px;
}

div.kpilinelarge, div.kpilinelarge div {
    font-size: 16px;
}



input:not([type="submit"]) {
    height: 20px;
 
}
div#togglediv {
    display:none;
}

#searchbutton {
    width: 20px;
    height: 20px;
}

div.masterDivDetail {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border: 0px solid blue;
    float: none;
    clear: both;
    width: 100%;
    min-height: 80%;
}

div .jtd, div .current {
    display: inline-block;
}